.homesAndExperiences_content {
    font-weight: 700;
    color: #484848;
}

.homesAndExperiences_title {
    font-weight: 600;
    color: #4a4a4a;
}

.place {
    font-weight: 700;
    color: rgb(58, 58, 75);
}

.review_icon {
    font-size: 1.3rem;
}