.search_item {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

::placeholder{
    color: #e9e3e3 !important;
}

.item {
    font-weight: 700;
}

.fw_bold {
    font-size: 19px;
    font-weight: 600;
}