.brand_name {
    background: -webkit-linear-gradient(#2bde8c, #49e575);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700 !important;
    font-size: 2.5rem !important;
}

.btn_list {
    font-weight: 700 !important;
    color: black !important;
    text-decoration: none !important;
}

.loggedUser_content {
    border: 1px solid #49e575;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.logged_icon{
    color: #49e575f1;
}

.logged_user {
    padding-top: 1.09rem !important;
    background: -webkit-linear-gradient(#2bde8c, #49e575);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signUp_btn {
    border: none;
    outline: none;
    font-weight: 600;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    color: white;
    background: linear-gradient(45deg, rgb(45, 231, 147) 65%, rgb(73, 229, 117) 35%);

}